Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content
enc_temp_folder

# Gets added by https://www.unrealengine.com/marketplace/en-US/product/m1a1-abrams-tank
West_Tank_M1A1Abrams.png
